<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tudock_TodaysMessage::message" title="Manage messages" module="Tudock_TodaysMessage" sortOrder="10" action="tudock_todaysmessage/message/index" parent="Magento_Backend::stores_settings" resource="Tudock_TodaysMessage::message" />
    </menu>
</config>
