<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="tudock_todaysmessage" frontName="tudock_todaysmessage">
            <module name="Tudock_TodaysMessage"/>
        </route>
    </router>
</config>
